<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="u1" class="com.iweb.pojo.User">
        <property name="no" value="1001"></property>
        <property name="name" value="tom"></property>
        <property name="balance" value="1800.2"></property>
    </bean>


    <bean id="u2" class="com.iweb.pojo.User">
        <property name="no" value="1002"></property>
        <property name="name" value="jack"></property>
        <property name="balance" value="1666"></property>
    </bean>

    <bean id="u3" class="com.iweb.pojo.User">
        <constructor-arg name="no" value="1003"></constructor-arg>
        <constructor-arg name="name" value="lili"></constructor-arg>
        <constructor-arg name="balance" value="10056"></constructor-arg>
    </bean>
    <bean id="u4" class="com.iweb.pojo.User">
        <constructor-arg index="0" value="1004"></constructor-arg>
        <constructor-arg index="1" value="jim"></constructor-arg>
        <constructor-arg index="2" value="1515"></constructor-arg>
    </bean>

    <bean id="u5" class="com.iweb.pojo.User" p:no="1005" p:name="koko" p:balance="1626.2"></bean>

    <bean id="u6" class="com.iweb.pojo.User">
        <property name="no" value="1006"></property>
        <property name="name" value="bob"></property>
        <property name="balance">
            <null/>
        </property>
    </bean>

    <bean id="u7" class="com.iweb.pojo.User">
        <property name="no" value="1007"></property>
        <property name="name">
            <value><![CDATA[<<ugo>>]]></value>
        </property>
        <property name="balance" value="123124"></property>
    </bean>
<!--创建service和dao的对象-->
    <bean id="userService" class="com.iweb.service.UserService">
<!--注入dao-->
        <property name="userDao" ref="userDaoImpl"></property>
    </bean>
    <bean id="userDaoImpl" class="com.iweb.dao.UserDaoImpl"></bean>


</beans>